$pre: 'lost-my-name__banner';

.#{$pre} {
    position: relative;

    @include respond-to-max($tabletSize) {
        margin-bottom: 150px;
    }
    
    .#{$pre}__slider {
        .#{$pre}__slider-item {
            height: 550px;
            width: 100%;
            position: relative;
            overflow: hidden;
            outline: none;
        
            @include respond-to-max($phonePortrait) {
                height: 350px;
            }

            .#{$pre}__slider-item__thumbnail {
                height: 100%;
                img {

                }
            }
        }
    }
}