$pre: 'lost-my-name__banner';

.#{$pre} {
    margin-top: 60px;
    position: relative;
    
    .#{$pre}__slider {
        .#{$pre}__slider-item {
            height: 550px;
            width: 100%;
            position: relative;
            overflow: hidden;
            outline: none;
        
            @include respond-to-max($phonePortrait) {
                height: 350px;
            }

            .#{$pre}__slider-item__thumbnail {
                height: 100%;
                img {
                }
            }
        }
    }
}