$pre: 'lost-my-name__book-customizer';

.#{$pre} {
    @extend %horizontal-centered;
    bottom: 30px;
    width: 950px;

    @include respond-to-max($desktopSize) {
        width: 95%;
    }

    @include respond-to-max($tabletSize) {
        bottom: -150px;
    }

    .#{$pre}__title {
        margin-bottom: 30px;
        h3 {
            @extend %medium-title;
            margin-bottom: 15px;
        }
    }

    &.type-2 {
        padding: 15px 0 50px;
        background-color: transparent;
    }

    .#{$pre}__search-box {
        border-top: 5px solid $color-lighter-red;
        background-color: $color-brown;
        padding: 25px;
        border-radius: 5px;
        text-align: center;

        input[type="text"], select, textarea {
            padding: 10px;
            display: block;
            width: 100%;
            border-radius: 3px;
            border: 2px solid $color-darker-brown;
            outline: none;
            @extend %roboto-regular;
        }

        .lost-my-name__btn {
            width: 100%;
        }

        .row > .col-xs-12 {
            @include respond-to-min($tabletSize) {
                padding-right: 0;

                &:last-child {
                    padding-right: 15px;
                }
            }

            @include respond-to-max($tabletSize) {
                margin: 10px 0;
            }
        }
    }

    .container {
        .row {
            > div {
                @include respond-to-max($tabletSize) {
                    margin-bottom: 25px;

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }

    &.type-3 {
        position: initial;
        bottom: auto;
        top: auto;
        left: auto;
        @include prefix((transform: none), webkit moz ms o);
        width: 100%;
        

        .#{$pre}__search-box {
            border-bottom: 5px solid $color-lighter-red;
            border-radius: 0;
            padding: 40px 0;
        }
    }

    .fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        @include prefix((transform: translate3d(0, 0, 0)), webkit moz ms o);
        z-index: 10;

        .gender-box {
            .dropdown-menu {
                bottom: auto;
                top: 60px;
            }
        }
    }
}

.gender-box {
    width: calc(50% - 10px);
    float: left;
    font-size: 0;
    display: inline-block;
    
    @include respond-to-min($phoneLandscape) {
        position: relative;
    }

    &.have-margin {
        margin-right: 20px;
    }
    
    label {
        width: 100%;
        @extend .lost-my-name__btn;
        background-color: $color-light-gray;

        &.active {
            background-color: $color-light-green;
        }
    }

    .dropdown-menu {
        top: auto;
        bottom: calc(100% + 10px);
        padding: 15px 10px;
        border: none;
        @extend %shadow-box;
        border-top: 5px solid $color-light-green;
        width: 240px;
        text-align: center;
        left: 0;

        &.girl {
            left: auto;
            right: 0;
        }
        
		@include respond-to-max($phoneLandscape) {
            max-width: 100%;
            left: 15px;

            &.girl {
                right: 15px;
            }
		}

        li {
            display: inline-block;
            border: 2px dashed $color-darker-brown;
            padding: 5px;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                @include set-opacity(0.8);
            }

            &.active {
                background-color: $color-light-green;
                border-color: $color-light-green;
            }

            img {
                width: 38px;
            }

            &:first-child {
                display: block;
                border: none;
                padding: 0;
                text-align: left;
                margin-bottom: 15px;
            }
        }
    }
}