$pre: 'lost-my-name__book-editor';

.#{$pre} {
    @include block-spacing($block-spacing, $block-spacing-tablet);
    padding-top: 50px;
    position: relative;

    .#{$pre}__book {
        img {
            width: 100%;
        }
    }

    .continue-wrapper {
        padding: 15px;
        background-color: $color-white;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        .continue {
            width: 100%;
            .fa {
                margin-left: 10px;
            }
        }
    }
    .toggle {
        background-color: $color-white;
        position: absolute;
        top: 148px;
        left: -40px;
        width: 40px;
        height: 40px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: -2px 1px 2px $color-dark-brown;
        padding: 5px 10px;

        @include respond-to-min($tabletSize) {
            width: 100px;
            height: auto;
            left: -100px;
        }

        .mobile {
            display: none;
        }

        @include respond-to-max($tabletSize) {
            .mobile {
                display: block;
            }

            .desktop {
                display: none;
            }
        }

        &:hover {
            @include set-opacity(1);
            background-color: $color-light-red;
            
            span {
                color: $color-white;
            }
        }

        span {
            color: $color-gray;
            line-height: 1;
            font-size: 30px;
            text-align: left;
            
            span {
                display: block;
                font-size: 12px;
            }

            &.close-state {
                display: none;
            }

            @include respond-to-min($tabletSize) {
                text-align: center;

                .fa {
                    font-size: 50px;
                }
                span {
                    margin-top: 10px;
                }
            }
        }

        &.active {
            .open-state {
                display: none;
            }

            .close-state.desktop {
                display: block;
            }

            .close-state.mobile {
                display: none;
            }
    
            @include respond-to-max($tabletSize) { 
                .close-state.desktop {
                    display: none;
                }
    
                .close-state.mobile {
                    display: block;
                }
            }
        }
    }
    
    .#{$pre}-wrapper {
        position: fixed;
        top: 0;
        right: -272px;
        background: $color-white;
        width: 270px;
        @extend %shadow-box;
        height: 100vh;
        z-index: 100;
        @include prefix((transition: all 0.3s ease-in-out), webkit moz ms o);
        

        &.active {
            right: 0;
        }
    }

    .#{$pre}__options {
        
        .#{$pre}__tabbed {
            clear: both;
            font-size: 0;
            .wish {
                display: inline-block;
                width: 50px;
                text-align: center;
                padding: 10px 0;
                cursor: pointer;

                &:last-child {
                    border: none;
                }

                .fa {
                    font-size: 16px;
                }

                span {
                    font-size: 12px;
                    display: none;
                    margin-left: 5px;
                }

                &.active {
                    background-color: $color-lighter-red;
                    color: $color-white;
                    box-shadow: 4px 4px 0px $color-darker-brown;
                    width: 170px;

                    span {
                        display: inline-block;
                    }
                }
            }
        }

        @include respond-to-max($tabletSize) {
            left: 0;
            right: auto;
            top: auto;
            bottom: -60px;
            @include prefix((transform: none), webkit moz ms o);
            width: 100%;
            text-align: center
        }
    }

    .#{$pre}__suboptions {
        height: calc(100vh - 100px);
        overflow: hidden;
        overflow-y: visible;

        .wish-option {
            padding: 15px;
            background-color: $color-brown;
            right: 50px;
            width: 100%;
            height: auto;
            background-color: $color-white;
            z-index: 10;
            border-radius: 10px;
            display: none;
            margin-top: 5px;
            border-top: 1px dashed $color-darker-brown;

            &#first-wish {
                display: block;
            }
            
            .gender-box {
                .dropdown-menu {
                    &.boy {
                        left: 0;
                        right: auto;
                    }

                    &.girl {
                        left: auto;
                        right: 0;
                    }
                }
            }
    
            h4 {
                @extend %tiny-title;
                margin-bottom: 10px;
                display: block;
                width: 100%;
            }
    
            p {
                margin-bottom: 15px;
                font-size: 14px;
            }
    
            form {
                font-size: 14px;
                input, textarea {
                    padding: 10px;
                    display: block;
                    width: 100%;
                    border-radius: 3px;
                    border: 1px solid $color-darker-brown;
                    outline: none;
                    @extend %roboto-regular;
                }
            }
    
            .dedication-form {
                img {
                    width: 100%;
                }
    
                form {
                    text-align: right;
                    margin: 0;
                    textarea {
                        height: 100px;
                        resize: none;
                    }
    
                    .lost-my-name__btn {
                        @extend %roboto-bold;
                    }
                }
            }
    
            .wish-items {
                .wish-item {
                    background-color: $color-white;
                    border-radius: 5px;
                    @extend %shadow-box;
                    cursor: pointer;
    
                    img {
                        width: 100%;
                    }
    
                    p {
                        padding: 5px;
                        text-align: center;
                        margin-top: -6px;
                    }
                }
            }

            &#second-wish {
                padding: 0;
            }

            .tabs {
                position: relative;

                .tabs-wrapper {
                    width: 100%;
                    text-align: center;
                    font-size: 0;

                    .wish {
                        display: inline-block;
                        padding: 10px;
                        width: 13%;
                        cursor: pointer;

                        &:last-child {
                            border-right: 0;
                        }

                        .fa {
                            font-size: 14px;
                        }

                        span {
                            font-size: 12px;
                            margin-left: 5px;
                            display: none;
                        }

                        &.active {
                            background-color: $color-lighter-red;
                            color: $color-white;
                            box-shadow: 4px 4px 0px $color-darker-brown;
                            width: 48%;

                            span {
                                display: inline-block;
                            }
                        }
                    }
                }
            }

            .character-tab {
                display: none;
                padding: 15px;
                margin-top: 5px;
                border-top: 1px dashed $color-darker-brown;

                &.active {
                    display: block;
                }
            }
        }
    }
}

.has-space {
    margin-bottom: 15px;
}

@include respond-to-max($tabletSize) {
    .row {
        .col-xs-6 {
            width: 50%;
        }
    }
}