$pre: 'lost-my-name__book-editor';

.#{$pre} {
    @include block-spacing($block-spacing, $block-spacing-tablet);
    padding-top: 50px;
    position: relative;

    .#{$pre}__book {
        img {
            width: 100%;
        }
    }

    .continue-wrapper {
        padding: 15px;
        background-color: $color-white;
        display: block;
        text-align: center;
        .continue {
            min-width: 220px;
            .fa {
                margin-left: 10px;
            }
        }
    }
    .toggle {
        background-color: $color-white;
        position: absolute;
        top: 148px;
        left: -40px;
        width: 40px;
        height: 40px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: -2px 1px 2px $color-dark-brown;
        padding: 5px 10px;

        @include respond-to-min($tabletSize) {
            width: 100px;
            height: auto;
            left: -100px;
        }

        .mobile {
            display: none;
        }

        @include respond-to-max($tabletSize) {
            .mobile {
                display: block;
            }

            .desktop {
                display: none;
            }
        }

        &:hover {
            @include set-opacity(1);
            background-color: $color-light-red;
            
            span {
                color: $color-white;
            }
        }

        span {
            color: $color-gray;
            line-height: 1;
            font-size: 30px;
            text-align: left;
            
            span {
                display: block;
                font-size: 12px;
            }

            &.close-state {
                display: none;
            }

            @include respond-to-min($tabletSize) {
                text-align: center;

                .fa {
                    font-size: 50px;
                }
                span {
                    margin-top: 10px;
                }
            }
        }

        &.active {
            .open-state {
                display: none;
            }

            .close-state.desktop {
                display: block;
            }

            .close-state.mobile {
                display: none;
            }
    
            @include respond-to-max($tabletSize) { 
                .close-state.desktop {
                    display: none;
                }
    
                .close-state.mobile {
                    display: block;
                }
            }
        }

        @include respond-to-max($phonePortrait) {
            display: none;
        }
    }
    
    .#{$pre}-wrapper {
        position: fixed;
        top: 0;
        right: -422px;
        background: $color-white;
        width: 420px;
        @extend %shadow-box;
        height: 100vh;
        z-index: 100;
        @include prefix((transition: all 0.3s ease-in-out), webkit moz ms o);
        
        @include respond-to-max($phonePortrait) {
            width: 100%;
            position: initial;
            top: auto;
            right: auto;
            box-shadow: none;
            height: auto;
            overflow: initial;
        }

        &.active {
            right: 0;
        }
    }

    .#{$pre}__options {
        
        .#{$pre}__tabbed {
            clear: both;
            font-size: 0;
            max-height: 100vh;
            overflow: hidden;
            overflow-y: visible;

            @include respond-to-max($phonePortrait) {
                max-height: initial;
                overflow: initial;
            }

            .wish {
                display: block;
                cursor: pointer;

                .tab {
                    padding: 10px 10px 10px 20px;
                    box-shadow: 4px 4px 0px $color-darker-brown;
                    border: 1px solid $color-darker-brown;
                    margin: 5px;
                    @include prefix((transition: all 0.15s ease-in-out), webkit moz ms o);

                    @include respond-to-max($phoneLandscape) {
                        margin: 5px 0;
                    }

                    &:hover {
                        background-color: $color-darker-brown;
                        box-shadow: 4px 4px 0px $color-darkest-brown;
                    }

                    .fa {
                        font-size: 26px;
                        display: inline-block;
                        line-height: 40px;
                        vertical-align: bottom;
                        margin-right: 15px;
                        min-width: 25px;
                        text-align: center;

                        @include respond-to-max($phoneLandscape) {
                            display: block;
                        }
                    }
    
                    div.subtext {
                        display: inline-block;

                        @include respond-to-max($phoneLandscape) {
                            display: block;
                        }

                        h2 {
                            font-size: 25px;
                            font-weight: bold;
                        }
        
                        span {
                            font-size: 12px;
                            margin-left: 5px;
                        }
                    }
                }

                &.active {
                    .tab {
                        background-color: $color-lighter-red;
                        color: $color-white;
                        box-shadow: 4px 4px 0px $color-darker-brown;
                    }
                }
            }
        }

        @include respond-to-max($tabletSize) {
            left: 0;
            right: auto;
            top: auto;
            bottom: -60px;
            @include prefix((transform: none), webkit moz ms o);
            width: 100%;
            text-align: center
        }
    }

    .#{$pre}__suboptions {

        .wish-option {
            padding: 15px;
            background-color: $color-brown;
            right: 50px;
            height: auto;
            background-color: $color-white;
            z-index: 10;
            display: none;
            margin: 5px;
            border: 1px dashed $color-darker-brown;

            @include respond-to-max($phoneLandscape) {
                margin: 5px 0;
            }

            &#first-wish {
                display: block;
            }
            
            .gender-box {
                .dropdown-menu {
                    &.boy {
                        left: 0;
                        right: auto;
                    }

                    &.girl {
                        left: auto;
                        right: 0;
                    }
                }
            }
    
            h4 {
                @extend %tiny-title;
                margin-bottom: 10px;
                display: block;
                width: 100%;
            }
    
            p {
                margin-bottom: 15px;
                font-size: 14px;
            }
    
            form {
                font-size: 14px;
                input, textarea, select {
                    padding: 10px;
                    display: block;
                    width: 100%;
                    border-radius: 3px;
                    border: 1px solid $color-darker-brown;
                    outline: none;
                    @extend %roboto-regular;
                }
            }
    
            .dedication-form {
                img {
                    width: 100%;
                }
    
                form {
                    text-align: right;
                    margin: 0;
                    textarea {
                        height: 100px;
                        resize: none;
                    }
    
                    .lost-my-name__btn {
                        @extend %roboto-bold;
                    }
                }
            }
    
            .wish-items {
                .wish-item {
                    background-color: $color-white;
                    border-radius: 5px;
                    @extend %shadow-box;
                    cursor: pointer;
    
                    img {
                        width: 100%;
                    }
    
                    p {
                        padding: 5px;
                        text-align: center;
                        margin-top: -6px;
                    }
                }
            }

            &#second-wish {
                padding: 0;
            }

            .tabs {
                position: relative;

                .tabs-wrapper {
                    width: 100%;
                    font-size: 0;

                    .wish {
                        .tabstext {
                            cursor: pointer;
                            margin: 5px 5px 10px 5px;
                            padding: 10px 10px 10px 20px;
                            box-shadow: 4px 4px 0px $color-darker-brown;
                            border: 1px solid $color-darker-brown;
                            margin: 5px;
                            @include prefix((transition: all 0.15s ease-in-out), webkit moz ms o);

                            .fa {
                                font-size: 20px;
                                display: inline-block;
                                margin-right: 10px;
                                vertical-align: bottom;
                                line-height: 35px;
                                min-width: 20px;
                                text-align: center;

                                @include respond-to-max($phoneLandscape) {
                                    display: block;
                                }
                            }

                            &:hover {
                                background-color: $color-darker-brown;
                                box-shadow: 4px 4px 0px $color-darkest-brown;
                            }
    
                            > div {
                                display: inline-block;

                                @include respond-to-max($phoneLandscape) {
                                    display: block;
                                }

                                h4 {
                                    font-size: 16px;
                                    margin: 0;
                                }
                                span {
                                    font-size: 12px;
                                }
                            }
                        }

                        &.active {
                            .tabstext {
                                background-color: $color-lighter-red;
                                color: $color-white;
                                box-shadow: 4px 4px 0px $color-darker-brown;
    
                                span {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }

            .character-tab {
                display: none;
                padding: 15px;
                margin: 5px;
                
                border: 1px dashed $color-darker-brown;

                &.active {
                    display: block;
                }
            }
        }
    }
}

.has-space {
    margin-bottom: 15px;
}

@include respond-to-max($tabletSize) {
    .row {
        .col-xs-6 {
            width: 50%;
        }
    }
}