$pre: 'lost-my-name__book-editor';

.#{$pre} {
    @include block-spacing($block-spacing, $block-spacing-tablet);
    padding-bottom: 0;
    padding-top: 50px;

    .#{$pre}__book {
        img {
            width: 100%;
        }
    }

    .#{$pre}__options {
        position: relative;
        
        .#{$pre}__tabbed {
            background-color: $color-white;
            border-top: 1px solid $color-green;
            border-bottom: 1px solid $color-green;
            margin-top: 30px;

            .wish {
                cursor: pointer;
                border-left: 1px solid $color-green;
                padding: 15px;

                span {
                    font-size: 12px;
                    color: $color-light-gray;
                }

                h3 {
                    @extend %roboto-bold;
                }

                &.active {
                    background-color: $color-brown;
                }
            }

            .container {
                .row {
                    > div {
                        padding: 0;
                        &:last-child {
                            text-align: right;
                            padding: 10px;
                        }

                        &:nth-last-child(2) {
                            .wish {
                                border-right: 1px solid $color-green;
                            }
                        }
                    }
                }
            }
        }

        .#{$pre}__suboptions {
            .wish-option {
                position: absolute;
                bottom: 100%;
                left: 0;
                width: 100%;
                z-index: 2;
                padding: 20px 0;
                background-color: $color-brown;
                box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
                display: none;

                h4 {
                    @extend %small-title;
                    margin-bottom: 10px;
                    display: block;
                    width: 100%;
                }

                p {
                    margin-bottom: 35px;
                }

                form {
                    margin: 30px 0;
                    input, textarea {
                        padding: 10px;
                        display: block;
                        width: 100%;
                        border-radius: 3px;
                        border: 1px solid $color-darker-brown;
                        outline: none;
                        @extend %roboto-regular;
                    }
                }

                .dedication-form {
                    img {
                        width: 100%;
                    }

                    form {
                        text-align: right;
                        margin: 0;
                        textarea {
                            height: 300px;
                            resize: none;
                        }

                        .lost-my-name__btn {
                            width: auto;
                            margin: 20px 0 0 auto;
                            @extend %roboto-bold;
                        }
                    }
                }

                .wish-items {
                    .wish-item {
                        background-color: $color-white;
                        border-radius: 5px;
                        @extend %shadow-box;
                        cursor: pointer;

                        img {
                            width: 100%;
                        }

                        p {
                            padding: 5px 10px 10px 10px;
                        }
                    }
                }
            }
        }
    }
}