$pre: 'lost-my-name__contacts';

.#{$pre} {
    text-align: center;
    @include block-spacing($block-spacing, $block-spacing-tablet);
    background-color: $color-darker-brown;
    
    h3 {
        @extend %medium-title;
    }

    ul {
        li {
            display: inline-block;
            margin: 0 15px;

            @include respond-to-max($tabletSize) {
                margin: 0 5px;
            }
            
            a {
                display: block;
                width: 64px;
                height: 64px;
                background: transparent url(/dist/images/pinterest.png) no-repeat center center;
                background-size: contain;

                @include respond-to-max($tabletSize) {
                    width: 45px;
                    height: 45px;
                }
            }

            &.facebook {
                a {
                    background: transparent url(/dist/images/facebook.png) no-repeat center center;
                    background-size: contain;
                }
            }

            &.google-plus {
                a {
                    background: transparent url(/dist/images/google-plus.png) no-repeat center center;
                    background-size: contain;
                }
            }

            &.twitter {
                a {
                    background: transparent url(/dist/images/twitter.png) no-repeat center center;
                    background-size: contain;
                }
            }
        }
    }
}