$pre: 'lost-my-name__information';

.#{$pre} {
    padding: 10px;
    background-color: $color-green;
    .#{$pre}-content {
        p {
            @extend %roboto-regular;
            color: $color-white;
            font-size: 14px;
        }
    }

    .#{$pre}-close {
        @extend %roboto-bold;
        @extend %vertical-centered;
        right: 0;
        color: $color-white;
    }
}