// Palette
$color-black:                   #000;
$color-gray:                    #292b2c;
$color-white:                   #fff;
$color-red:                     #f00;
$color-lighter-red:             #2ED3E9;
$color-brown:                   $color-white;
$color-dark-brown:              #676764;
$color-darker-brown:            #eeebdc;
$color-darkest-brown:           #e0ddcb;
$color-dark-gray:               #37372f;
$color-light-gray:              #767571; 
$color-light-red:               #17adc1;
$color-light-green:             $color-lighter-red;
$color-black-half:              rgba(0, 0, 0, 0.5);
$color-yellow:                  #ffcc37;
$color-green:                   $color-lighter-red;
$color-lighter-gray:            #d6d4d4;
$color-black-one-four:          rgba(0, 0, 0, 0.25);