// Palette
$color-black:                   #000;
$color-gray:                    #292b2c;
$color-white:                   #fff;
$color-red:                     #f00;
$color-lighter-red:             #F16362;
$color-brown:                   $color-white;
$color-dark-brown:              #676764;
$color-darker-brown:            #eeebdc;
$color-dark-gray:               #37372f;
$color-light-gray:              #767571; 
$color-light-red:               #eb6157;
$color-light-green:             #c0d9c6;
$color-black-half:              rgba(0, 0, 0, 0.5);
$color-yellow:                  #ffcc37;
$color-green:                   #49C0A1;