$base-font-size: 18px;
$base-font-size-tablet: 14px;
$price-tag-font-size: 22px;
$price-tag-font-size-tablet: 18px;

// Block spacing
$block-spacing: 70px 0;
$block-spacing-tablet: 35px 0;
$block-spacing-product: 30px 0;
$block-spacing-product-tablet: 20px 0;
$detail-spacing: 30px 0;
$detail-spacing-tablet: 15px 0;

body {
    @extend %roboto-regular;
    font-size: $base-font-size;
    background-color: $color-brown;
    line-height: 1.3;

    @include respond-to-max($tabletSize) {
        font-size: $base-font-size-tablet;
    }
}

a {
    color: $color-dark-brown;
    text-decoration: none;

    &:hover, &:visited, &:focus, &:active {
        text-decoration: none;
        color: $color-dark-brown;
    }
}

%vertical-centered {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

%horizontal-centered {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

%all-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

%shadow {
    box-shadow: 1px 1px 5px $color-dark-brown;
}

%shadow-box {
    box-shadow: 0 0 5px $color-dark-brown;
}

%extra-shadow-box {
    box-shadow: 3px 6px 15px $color-dark-brown;
}

%big-title {
    @extend %gloria-hallelujah;
    font-size: 36px;
    margin-bottom: 30px;

    @include respond-to-max($tabletSize) {
        font-size: 30px;
    }
}

%medium-title {
    @extend %gloria-hallelujah;
    font-size: 32px;
    margin-bottom: 30px;

    @include respond-to-max($tabletSize) {
        font-size: 26px;
    }
}

%small-title {
    @extend %gloria-hallelujah;
    font-size: 28px;
    margin-bottom: 30px;

    @include respond-to-max($tabletSize) {
        font-size: 22px;
    }
}

.bold-text {
    @extend %roboto-bold;
}

.price-tag {
    @extend %gloria-hallelujah;
    color: $color-light-red;
    font-size: $price-tag-font-size;
    
    @include respond-to-max($tabletSize) {
        font-size: $price-tag-font-size-tablet;
    }
}

.lost-my-name__btn {
    display: inline-block;
    padding: 15px 30px;
    color: $color-white !important;
    @extend %roboto-bold;
    background-color: $color-light-red;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        @include set-opacity(0.8);
    }
}

.rating {
    .star {
        &:before {
            font-family: FontAwesome;
            content: "\f006";
            font-size: 22px;
        }
    }

    .rating-score {
        margin-left: 10px;
    }

    &.type-2 {
        .rating-score {
            display: block;

            span {
                font-size: 120%;
                @extend %roboto-bold;
            }
        }
    }

    &.five {
        .star {
            &:before {
                content: "\f005";
                color: $color-yellow;
            }
        }
    }

    &.four {
        .star {
            &:before {
                content: "\f005";
                color: $color-yellow;
            }

            &:nth-child(5):before {
                content: "\f006";
                color: $color-gray;
            }
        }
    }

    &.three {
        .star {
            &:before {
                content: "\f005";
                color: $color-yellow;
            }

            &:nth-child(5),
            &:nth-child(4) {
                &:before {
                    content: "\f006";
                    color: $color-gray;
                } 
            }
        }
    }

    &.two {
        .star {
            &:before {
                content: "\f006";
                color: $color-gray;
            }

            &:nth-child(1),
            &:nth-child(2) {
                &:before {
                    content: "\f005";
                    color: $color-yellow;
                } 
            }
        }
    }

    &.one {
        .star {
            &:before {
                content: "\f006";
                color: $color-gray;
            }

            &:first-child {
                &:before {
                    content: "\f005";
                    color: $color-yellow;
                } 
            }
        }
    }
}

.separator {
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 100%;
    background-color: $color-dark-brown;
}