$base-font-size: 18px;
$base-font-size-tablet: 14px;
$price-tag-font-size: 22px;
$price-tag-font-size-tablet: 18px;

// Block spacing
$block-spacing: 70px 0;
$block-spacing-tablet: 35px 0;
$block-spacing-product: 30px 0;
$block-spacing-product-tablet: 20px 0;
$detail-spacing: 30px 0;
$detail-spacing-tablet: 15px 0;

body {
    @extend %roboto-regular;
    font-size: $base-font-size;
    background-color: $color-brown;
    line-height: 1.3;

    @include respond-to-max($tabletSize) {
        font-size: $base-font-size-tablet;
    }
}

a {
    color: $color-dark-brown;
    text-decoration: none;

    &:hover, &:visited, &:focus, &:active {
        text-decoration: none;
        color: $color-dark-brown;
    }
}

%vertical-centered {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

%horizontal-centered {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

%all-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

%shadow {
    box-shadow: 1px 1px 5px $color-dark-brown;
}

%shadow-box {
    box-shadow: 0 0 5px $color-dark-brown;
}

%extra-shadow-box {
    box-shadow: 3px 6px 15px $color-dark-brown;
}

%big-title {
    @extend %gloria-hallelujah;
    font-size: 36px;
    margin-bottom: 30px;

    @include respond-to-max($tabletSize) {
        font-size: 30px;
    }
}

%medium-title {
    @extend %gloria-hallelujah;
    font-size: 32px;
    margin-bottom: 30px;

    @include respond-to-max($tabletSize) {
        font-size: 26px;
    }
}

%small-title {
    @extend %gloria-hallelujah;
    font-size: 28px;
    margin-bottom: 30px;

    @include respond-to-max($tabletSize) {
        font-size: 22px;
    }
}

%tiny-title {
    @extend %gloria-hallelujah;
    font-size: 20px;
    margin-bottom: 24px;

    @include respond-to-max($tabletSize) {
        font-size: 16px;
    }
}

%big-title-roboto {
    @extend %roboto-bold;
    font-size: 36px;
    margin-bottom: 30px;

    @include respond-to-max($tabletSize) {
        font-size: 30px;
    }
}

%medium-title-roboto {
    @extend %roboto-bold;
    font-size: 32px;
    margin-bottom: 30px;

    @include respond-to-max($tabletSize) {
        font-size: 26px;
    }
}

%small-title-roboto {
    @extend %roboto-bold;
    font-size: 28px;
    margin-bottom: 30px;

    @include respond-to-max($tabletSize) {
        font-size: 22px;
    }
}

%quote-title {
    @extend %gloria-hallelujah;
    font-size: 28px;
    margin-bottom: 30px;

    @include respond-to-max($desktopSize) {
        font-size: 18px;
        margin-bottom: 15px;
    }
}

.bold-text {
    @extend %roboto-bold;
}

.price-tag {
    @extend %gloria-hallelujah;
    color: $color-light-red;
    font-size: $price-tag-font-size;
    
    @include respond-to-max($tabletSize) {
        font-size: $price-tag-font-size-tablet;
    }
}

.lost-my-name__btn {
    display: inline-block;
    padding: 12px 15px;
    color: $color-white !important;
    @extend %roboto-bold;
    font-size: $base-font-size;
    background-color: $color-light-red;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 0px $color-darker-brown;
    border-radius: 3px;

    @include respond-to-max($tabletSize) {
        font-size: $base-font-size-tablet;
    }

    &:hover {
        @include set-opacity(0.8);
    }
}

.lost-my-name__quote-text {
    color: $color-lighter-red;
    font-style: italic;
    @extend %roboto-regular;
}

.lost-my-name__icon {
    display: block;
    width: 38px;
    height: 38px;
    position: fixed;
    @include prefix((transform: translate3d(0, 0, 0)), webkit moz ms o);
    left: 15px;
    border-radius: 50%;
    padding: 5px;
    border: 3px solid $color-light-green;
    text-align: center;
    z-index: 101;
    background-color: $color-white;

    .fa {
        color: $color-black;
        font-size: 19px;
        line-height: 23px;
    }

    &:hover {
        @include set-opacity(0.8);
    }

    &.icon-support {
        bottom: 15px;
    }

    &.icon-create-book {
        bottom: 62px;
    }

    @include respond-to-max($phonePortrait) {
        display: none;
    }
}

.rating {
    .star {
        &:before {
            font-family: FontAwesome;
            content: "\f006";
            font-size: 22px;
        }
    }

    .rating-score {
        margin-left: 10px;
    }

    &.type-2 {
        .rating-score {
            display: block;

            span {
                font-size: 120%;
                @extend %roboto-bold;
            }
        }
    }

    &.five {
        .star {
            &:before {
                content: "\f005";
                color: $color-yellow;
            }
        }
    }

    &.four {
        .star {
            &:before {
                content: "\f005";
                color: $color-yellow;
            }

            &:nth-child(5):before {
                content: "\f006";
                color: $color-gray;
            }
        }
    }

    &.three {
        .star {
            &:before {
                content: "\f005";
                color: $color-yellow;
            }

            &:nth-child(5),
            &:nth-child(4) {
                &:before {
                    content: "\f006";
                    color: $color-gray;
                } 
            }
        }
    }

    &.two {
        .star {
            &:before {
                content: "\f006";
                color: $color-gray;
            }

            &:nth-child(1),
            &:nth-child(2) {
                &:before {
                    content: "\f005";
                    color: $color-yellow;
                } 
            }
        }
    }

    &.one {
        .star {
            &:before {
                content: "\f006";
                color: $color-gray;
            }

            &:first-child {
                &:before {
                    content: "\f005";
                    color: $color-yellow;
                } 
            }
        }
    }
}

.separator {
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 100%;
    background-color: $color-dark-brown;
}

.fillwidth {
    width: 100%;
    height: auto;
    @extend %all-centered;
}

.fillheight {
    height: 100%;
    width: auto;
    @extend %all-centered;
}

.left-align {
    @include align-text(left)
}

.right-align {
    @include align-text(right)
}

.center-align {
    @include align-text(center)
}


.mfp-wrap {
    .mfp-img {
        @include respond-to-min($largerSize) {
            max-width: 1200px !important;
        }
    }
}

input, select, textarea {
    @include prefix((transition: all 0.3s ease-in-out), webkit moz ms o);

    &:focus {
        border-color: $color-light-red !important;
    }
}

//=====================================
.bb-custom-wrapper {
	width: 100%;
	position: relative;
	margin: 0 auto;
	text-align: center;
}


.bb-custom-wrapper h3 {
	font-size: 1.4em;
	font-weight: 300;
	margin: 0.4em 0 1em;
}

.bb-custom-wrapper nav {
	width: 100%;
	height: 30px;
	margin: 1em auto 0;
    position: absolute;
    top: 0;
	z-index: 100;
    text-align: center;
    margin: 0;
    @include set-opacity(0);
}

.bb-custom-wrapper nav a {
	display: inline-block;
    width: 50%;
    height: 555px;
	text-align: center;
	border-radius: 2px;
	background: transparent;
	color: transparent;
    margin: 0 -5px;
    font-size: 0;
}

@media screen and (max-width: 1200px) {
	.bb-custom-wrapper nav a {
		height: 345px;
	}
}

@media screen and (max-width: 767px) {
	.bb-custom-wrapper nav a {
		height: 255px;
	}
}

@media screen and (max-width: 480px) {
	.bb-custom-wrapper nav a {
		height: 215px;
	}
}

@media screen and (max-width: 425px) {
	.bb-custom-wrapper nav a {
		height: 198px;
	}
}

@media screen and (max-width: 414px) {
	.bb-custom-wrapper nav a {
		height: 192px;
	}
}

@media screen and (max-width: 375px) {
	.bb-custom-wrapper nav a {
		height: 173px;
	}
}

@media screen and (max-width: 360px) {
	.bb-custom-wrapper nav a {
		height: 165px;
	}
}

@media screen and (max-width: 320px) {
	.bb-custom-wrapper nav a {
		height: 145px;
	}
}

.bb-custom-wrapper nav a .fa {
    line-height: 30px;
}

.bb-custom-wrapper nav a:hover {
	opacity: 0.6;
}
#bb-nav-first, #bb-nav-last {
    display: none;
}

#first-item {
    @include prefix((transform: translate(-25%, 0)), webkit moz ms o);
    @include prefix((transition: all 0.5s ease-in-out), webkit moz ms o);
}

/* No JS */
.no-js .bb-custom-wrapper {
	height: auto;
}

.no-js .bb-custom-content {
	height: 470px;
}